@media screen and (max-width: 600px) {
  #map {
    height: 300px;
    width: 100%;
    background-color: #ccc;
  }
}


@media screen and (max-width: 1020px) {
  .inside #map {
    position: absolute;
    z-index: 1;
    background: none
  }
}